<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifechievements"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />
        <activity
            android:name="com.lifechievements.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_name"
            android:parentActivityName="com.lifechievements.MainActivity" >
		    <!-- Parent activity meta-data to support 4.0 and lower -->
		    <meta-data
		        android:name="android.support.PARENT_ACTIVITY"
		        android:value="com.lifechievements.MainActivity" />
        </activity>
    </application>
    <instrumentation android:name="android.test.InstrumentationTestRunner"
       android:targetPackage="com.lifechievements" android:label="Tests for My App" />

</manifest>
